@font-face {
  font-family: Better VCR; /* Гарнитура шрифта */
  src: url(better-vcr_0.ttf); /* Путь к файлу со шрифтом */
 }
.header {
  padding: 20px;
  text-align: center;
  display: flex; /* очень важно указать свойство flex для родительского элемента */
  justify-content: space-between; /* добавляем отступ между ссылками меню */
  align-items: center; /* выравниваем содержимое по центру */
}
/* CSS стили для логотипа */
.logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
}
.burger_img {
  width: 50px;
  height: 50px;
}
.burger_img_close {
  width: 50px;
  height: 50px;
  margin-right: 20%;
}

/* CSS-стили для ссылок меню в шапке */
.header nav {
  display: flex;
  align-items: center; /* выравниваем ссылки по центру */
}

.header nav a {
  margin-right: 40px; /* добавляем отступ между ссылками меню */
  text-decoration: none; /* убираем подчеркивание */
  color: #FFD700;
  font-family: Better VCR;
}
.header nav a:hover {
  color: #D32222; /* Цвет ссылки при наведении на нее курсора мыши */  
  text-decoration: underline; /* Добавляем подчеркивание */
 }
a {
  color: #FFD700 /* Цвет обычной ссылки */ 
  text-decoration: none; /* Убираем подчеркивание у ссылок */
 }
 a:hover {
  color: #D32222; /* Цвет ссылки при наведении на нее курсора мыши */  
  text-decoration: underline; /* Добавляем подчеркивание */
 }
 .burger_text {
  text-decoration: none; /* убираем подчеркивание */
  font-family: Better VCR;
   color: #FFD700 /* Цвет обычной ссылки */ 
 }
 .burger_text:hover {
  color: #D32222; /* Цвет ссылки при наведении на нее курсора мыши */  
  text-decoration: underline; /* Добавляем подчеркивание */
}
/* CSS-стили для меню-бургера */
.burger-menu {
  display: none;
}

.content {
  display: flex;
  justify-content: center; /* выравниваем содержимое по центру */
  align-items: flex-start; /* выравниваем содержимое по верхней границе */
  height: 80vh; /* задаем высоту блока контента */
  flex-direction: column; /* меняем направление элементов на вертикальное */
  gap: 20px; /* добавляем промежуток между полями текста */
}

.content img {
  width: 80%; /* задаем ширину изображения в поле контента */
  margin: 0 10%; /* добавляем отступы по обеим сторонам */
  max-width: 100%;
  height: auto;
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 600px) {
  /* Скрыть основное меню */
  .header nav {
    display: none;
  }
  
  /* Показать меню-бургер */
  .burger-menu {
    display: block;
  }
  
  /* CSS-стили для адаптивного изображения */
  .content img {
    max-width: 100%;
    height: auto;
  }
}

/* CSS-стили для подвала */
.footer {
  width: auto;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot_text {
  font-family: Better VCR;
  color: #FFD700 ;/* Цвет обычной ссылки */
  font-size: 8pt;
}

.social {
  display: flex;
  align-items: center;
  gap: 30px; /* добавляем отступ между иконками соцсетей */

}
.t_social {
  font-family: Better VCR;
  color: #FFD700 ;/* Цвет обычной ссылки */
  text-decoration: none;
}

/* Стили для выплывающего окна (меню) */
.menu-dropdown {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-dropdown.open {
  display: flex;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
}

.menu-dropdown ul li {
  text-align: center;
  margin-bottom: 10px;
}
.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
